@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }




/* JSPrintManager style*/
table,
textarea {
    width: 100%;
    height: 200px;
    padding: 3px;
}

a {
    cursor: pointer;
}

.githubIcon {
    margin-right: 10px;
    color: #fff;
    font-size: 32px;
}

.jspmStatus {
    color: #fff;
    margin-left: 10px;
}

.round {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #cd2122;
    color: #fff;
    text-align: center;
}

.content {
    padding-top: 80px;
    padding-bottom: 20px;
}

.fileFormats {
    background-color: #ececec;
    font-weight: bold;
    color: #666;
}

.topMost {
    z-index: 1080;
}

.white {
    color: #fff;
}

.iconDemo {
    color: #cd2122;
}

.tab-content,
.nav-tabs {
    border-bottom: 2px solid #cd2122;
}

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        background: #cd2122;
        border-bottom: 2px solid #cd2122;
        color: #fff;
    }

.nav-link {
    color: #cd2122;
}

.terminal {
    background-color: #171a1d;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.text-monospace {
    font-family: 'Courier New', Courier, monospace;
}

.propDisabled {
    text-decoration: line-through;
    color: red;
}
