<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">JSPrintManager - Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="print-raw-commands">
                <span class="fa fa-barcode" aria-hidden="true"></span> Print Raw Commands
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="print-files">
                <span class="fa fa-image" aria-hidden="true"></span> Print Images &amp; Docs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="print-pdf">
                <span class="fa fa-file-pdf-o" aria-hidden="true"></span> Advanced PDF Printing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="printers-info">
                <span class="fa fa-print" aria-hidden="true"></span> Printers Info
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scan-docs">
                <span class="fa fa-crosshairs" aria-hidden="true"></span> Scan Docs &amp; Images
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
